@import "./variables";

// Basic elements

body {
  margin: 0;
  font-family: "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
  font-weight: 100;
  line-height: 1.5em;
}

button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

p.text-small {
  font-size: 14px;
  line-height: 24px;
}

// General classes
.bold-text {
  font-weight: 300;
}
.full-height {
  height: 100vh;
}
