@import "./variables";

// Basic elements

body {
  margin: 0;
  font-family: "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
  font-weight: inherit;
}

button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
  font-weight: 100;
  line-height: 1.33em;
}

p {
  line-height: 1.5em;
}

h1 {
  font-family: "Crimson Text", serif;
  font-size: 42px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}

p {
  font-size: $text-s;
  line-height: $line-height-p-16;
}

p.p-16 {
  font-size: 16px;
  line-height: 1.5em;
}

p.text-small {
  font-size: $text-small-s;
}

p.text-extrasmall {
  font-size: $text-extrasmall-s;
}

.background-transparent {
  background-color: transparent;
}

.background-white {
  background-color: $color-white;
}

.background-ultralightgray {
  background-color: $color-lightgray-ultralight;
}

.background-lightblue {
  background-color: $color-blue-light;
}

.background-ultralightblue {
  background-color: $color-blue-ultralight;
}

.background-hyperlightblue {
  background-color: $color-blue-hyperlight;
}

.background-lightbeige {
  background-color: $color-beige-light;
}

.background-ultralightbeige {
  background-color: $color-beige-ultralight;
}

.background-hyperlightbeige {
  background-color: $color-beige-hyperlight;
}

.background-lightpink {
  background-color: $color-pink-light;
}

.background-ultralightpink {
  background-color: $color-pink-ultralight;
}

.background-hyperlightpink {
  background-color: $color-pink-hyperlight;
}

// General classes
.text-weight-medium {
  font-weight: 300;
}
.text-semibold {
  font-weight: 400;
}
.text-bold {
  font-weight: 600;
}
.bullet-point-item {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}
.hide-element {
  display: none !important;
}

@media only screen and (min-width: $width-m) {
  p {
    font-size: $text-m;
    line-height: $line-height-p-17;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  p.text-small {
    font-size: $text-small-m;
  }

  p.text-extrasmall {
    font-size: $text-extrasmall-m;
  }

  .background-medium-transparent {
    background-color: transparent;
  }

  .background-medium-white {
    background-color: $color-white;
  }

  .background-medium-ultralightgray {
    background-color: $color-lightgray-ultralight;
  }

  .background-medium-lightblue {
    background-color: $color-blue-light;
  }

  .background-medium-ultralightblue {
    background-color: $color-blue-ultralight;
  }

  .background-medium-hyperlightblue {
    background-color: $color-blue-hyperlight;
  }

  .background-medium-lightbeige {
    background-color: $color-beige-light;
  }

  .background-medium-ultralightbeige {
    background-color: $color-beige-ultralight;
  }

  .background-medium-hyperlightbeige {
    background-color: $color-beige-hyperlight;
  }

  .background-medium-lightpink {
    background-color: $color-pink-light;
  }

  .background-medium-ultralightpink {
    background-color: $color-pink-ultralight;
  }

  .background-medium-hyperlightpink {
    background-color: $color-pink-hyperlight;
  }
}

@media only screen and (min-width: $width-l) {
  p {
    font-size: $text-l;
    line-height: $line-height-p-18;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 21px;
  }

  p.text-small {
    font-size: $text-small-l;
  }

  p.text-extrasmall {
    font-size: $text-extrasmall-l;
  }
}
