$width-s: 576px;
$width-m: 768px;
$width-l: 992px;
$width-xl: 1200px;

$color-white: #ffffff;
$color-black: #000000;
$color-lightblue: #a4d3f2;
$color-lightblue-light: #a4d3f233; //33 = 40% Opacity
$color-lightblue-ultralight: #f7fbfe;
$color-darkblue: #0b4269;
$color-beige: #f4f1e9;
$color-beige-light: #f4f1e966; //66 = 40% Opacity
$color-pink: #efbfcb;
$color-pink-light: #efbfcb4c; //4C = 30% Opacity

$space-single-s: 8px;
$space-medium-s: 12px;
$space-double-s: 16px;
$space-triple-s: 24px;
$space-quadruple-s: 32px;

$outer-padding-content-block-s: 32px 24px 40px;
$inner-padding-content-block-s: 24px 16px;
$extra-padding-content-block-s: 48px 40px 56px;

$border-radius: 3px;
$box-shadow-around: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
$box-shadow-below: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
