@import "../variables";

.banner {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-height: calc(100vh - 60px);
}

.banner-tagline {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  background-color: $color-beige-light;
  @include setOuterPaddings(true);
  gap: $x2_5;
}

.banner-image {
  flex: 0 1 auto;
  object-fit: cover;
  object-position: 80% 0;
  height: calc(100vh - 260px);
  min-height: 250px;
  max-height: 105vw;
}

@media only screen and (min-width: $width-m) {
  .banner {
    height: calc(100vh - 60px);
  }
  .banner-tagline {
    position: absolute;
    min-width: 360px;
    width: 50%;
    padding-top: 56px;
    gap: $x4;
    background: none;
    h3 {
      line-height: 1.66em;
    }
    button {
      margin-right: auto;
    }
  }
  .banner-image {
    object-position: 65% 0;
    height: 100%;
  }
}
