@import "../variables";

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $color-white;
  box-shadow: $box-shadow-around;
  border-radius: $border-radius;
  @include setInnerPaddings(false, false, false, false, false, false, true);

  h3,
  h4,
  p {
    white-space: nowrap;
  }
}

.contact-header-wrapper {
  display: flex;
  align-items: flex-end;
  color: $color-darkblue;
  gap: 12px;
  padding: 12px 0px;
}

.contact-card-icon {
  font-size: 36px;
  color: $color-darkblue;
}

.contact-card-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include setGap(true);
}

.contact-card-location-map-wrapper {
  width: 100%;
  height: 400px;
  box-shadow: $box-shadow-around;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.contact-card-location {
  .contact-card-content-wrapper {
    align-items: center;
  }
}

@media only screen and (min-width: $width-xs) and (max-width: $width-max-s) {
  .contact-card,
  .contact-card-location .contact-card-content-wrapper {
    align-items: flex-start;
  }
  .contact-card-icon {
    font-size: 40px;
  }
}

@media only screen and (min-width: $width-m) {
  .contact-card {
    width: calc(50% - #{$inner-gap-triple-m / 2});
  }
  .contact-card-icon {
    font-size: 40px;
  }
}

@media only screen and (min-width: $width-l) {
  .contact-card,
  .contact-card-location .contact-card-content-wrapper {
    align-items: flex-start;
  }
  .contact-card {
    width: calc(50% - #{$inner-gap-triple-l / 2});
  }

  .contact-card-icon {
    font-size: 48px;
  }
}
