@import "../variables";

.contact-card {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  box-shadow: $box-shadow-around;
  border-radius: $border-radius;
  @include setInnerPaddings();
  @include setGap("medium");
  h3,
  h4,
  p {
    white-space: nowrap;
  }
}

.contact-header {
  display: flex;
  align-items: flex-end;
  color: $color-darkblue;
  gap: 0.4em;
}

.contact-card-header-icon {
  font-size: 1.25em;
  color: $color-darkblue;
}

.contact-card-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include setInnerPaddings(false, false, false, "sm", "sm");
  @include setGap("medium");
}

.contact-card-persons {
  .contact-card-content-wrapper {
    @include setContactCardGap();
  }
}

.contact-card-location-map-wrapper {
  width: 100%;
  height: 500px;
  box-shadow: $box-shadow-around;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
