@import "../variables";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 2;
  background-color: $color-white;
  box-shadow: $box-shadow-below;
}
.header-content-wrapper {
  display: flex;
  align-items: center;

  @include setOuterPaddings(true, true);
  @include setContentMaxWidth();
}

.header-image {
  height: 24px;
  padding-top: 6px;
}
