@import "../variables";

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: $color-white;
  z-index: 1;
  box-shadow: $box-shadow-below;
  @include setOuterPaddings(true, true);
}

.header-image {
  height: 24px;
  padding-top: 6px;
}
