@import "../variables";

.info-card-container {
  display: flex;
  flex-direction: column;
  gap: $space-triple-s;
  padding: $outer-padding-content-block-s;
  background-color: $color-lightblue-light;
}

.info-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: $space-medium-s;
}
