@import "../variables";

.info-card {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 84px;
  margin-top: 2px;
  background-color: $color-white;
  box-shadow: $box-shadow-around;
  border-radius: $border-radius;
  @include setInnerPaddings(false, "m", false, true, true);
}

/**.info-card:hover {
  .info-card-logo,
  .info-card-icon-wrapper {
    transform: translate(-2px, 0.5px);
  }
  .info-card-logo {
    height: 20.5px;
  }
  .info-card-icon-wrapper {
    width: 41px;
    height: 32.75px;
  }
}**/

.info-card-icon-wrapper {
  display: none;
  width: 40px;
  height: 32px;
}

.info-card-icon {
  max-width: 100%;
  max-height: 100%;
}

.info-card-logo {
  height: 20px;
}

@media only screen and (min-width: $width-xs) {
  .info-card {
    height: 96px;
  }
  .info-card-icon-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

@media only screen and (min-width: $width-m) {
  .info-card {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .info-card-logo {
    height: 15.5px;
  }
  .info-card-icon-wrapper {
    width: 64px;
    height: 50px;
  }

  /**.info-card:hover {
    margin-top: 0px;
    .info-card-icon-wrapper {
      width: 65.6px;
      height: 51.25px;
    }
    .info-card-logo,
    .info-card-icon-wrapper {
      transform: none;
    }
    .info-card-logo {
      height: 16px;
    }
  }**/
}

@media only screen and (min-width: $width-l) {
  .info-card-logo {
    height: 20px;
  }
  /**.info-card:hover {
    .info-card-logo {
      height: 20.5px;
    }
  }**/
}
