@import "../variables";

.info-card-ref {
  width: 100%;
  padding: 2px;
}
.info-card {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 84px;
  margin-top: 2px;
  background-color: $color-white;
  box-shadow: $box-shadow-around;
  border-radius: $border-radius;
  @include setInnerPaddings(false, false, "m", false, true, true);
}

.info-card:not(.info-card-active):hover {
  .info-card-logo,
  .info-card-icon-wrapper {
    transform: translate(-2px, 1px);
  }
  .info-card-logo {
    height: increaseSize(20px);
  }
  .info-card-icon-wrapper {
    width: increaseSize(40px);
    height: increaseSize(32px);
  }
}

.info-card-icon-wrapper {
  display: none;
  align-items: flex-end;
  justify-content: center;
  width: 40px;
  height: 32px;
}

.info-card-icon {
  max-width: 100%;
  max-height: 100%;
}

.info-card-logo {
  height: 20px;
}

@media only screen and (min-width: $width-xs) {
  .info-card {
    height: 96px;
  }
  .info-card-icon-wrapper {
    display: flex;
  }
}

@media only screen and (min-width: $width-m) {
  .info-card {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .info-card-logo {
    height: 15.5px;
  }
  .info-card-icon-wrapper {
    width: 64px;
    height: 50px;
  }

  .info-card:not(.info-card-active):hover {
    margin-top: 0px;
    .info-card-icon-wrapper {
      width: increaseSize(64px);
      height: increaseSize(50px);
    }
    .info-card-logo,
    .info-card-icon-wrapper {
      transform: none;
    }
    .info-card-logo {
      height: increaseSize(15.5px);
    }
  }
}

@media only screen and (min-width: $width-l) {
  .info-card-logo {
    height: 20px;
  }
  .info-card:not(.info-card-active):hover {
    .info-card-logo {
      height: increaseSize(20px);
    }
  }
}
