@import "../variables";

.info-card-container {
  display: flex;
  flex-direction: column;
  background-color: $color-lightblue-light;
  @include setOuterPaddings();
  gap: $space-triple-s;
}

.info-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: $space-medium-s;
}
