@import "../variables";

@function increaseSize($currentSize, $increaseFactor: 1.1) {
  @return $currentSize * $increaseFactor;
}

@function increaseFontSize($currentSize, $increaseSize: 1px) {
  @return $currentSize + $increaseSize;
}

.info-card {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 84px;
  margin-top: 2px;
  background-color: $color-white;
  box-shadow: $box-shadow-around;
  border-radius: $border-radius;
  @include setInnerPaddings(false, "m", false, true, true);
}

.info-card-about {
  @media only screen and (min-width: $width-m) {
    gap: $x1_5;
    .info-card-icon-wrapper {
      margin-top: $x0_5;
      height: $x4;
    }
  }
  @media only screen and (min-width: $width-l) {
    gap: $x2;
    .info-card-icon-wrapper {
      height: $x5;
    }
  }
  @media only screen and (min-width: $width-xl) {
    gap: $x2_5;
    .info-card-icon-wrapper {
      height: $x6;
    }
  }
}

.info-card-about:hover {
  @media only screen and (min-width: $width-m) {
    margin-top: 0px;
    .info-card-icon-wrapper {
      height: increaseSize($x4, 1.03);
    }
    .info-card-text p {
      font-size: increaseFontSize($text-small-m, 0.5px);
    }
  }
  @media only screen and (min-width: $width-l) {
    .info-card-icon-wrapper {
      height: increaseSize($x5, 1.03);
    }
    .info-card-text p {
      font-size: increaseFontSize($text-small-l, 0.5px);
    }
  }
  @media only screen and (min-width: $width-xl) {
    .info-card-icon-wrapper {
      height: increaseSize($x6, 1.03);
    }
  }
}

.info-card-about.info-card-active {
  border: 1px solid $color-darkblue;
  margin-top: 0px;
  @media only screen and (min-width: $width-m) {
    .info-card-icon-wrapper {
      margin-top: 0px;
      margin-bottom: $x0_5;
      height: increaseSize($x4, 1.08);
    }
    .info-card-text p {
      font-size: increaseFontSize($text-small-m);
      font-weight: 600;
    }
  }
  @media only screen and (min-width: $width-l) {
    .info-card-icon-wrapper {
      height: increaseSize($x5, 1.08);
    }
    .info-card-text p {
      font-size: increaseFontSize($text-small-l);
    }
  }
  @media only screen and (min-width: $width-xl) {
    .info-card-icon-wrapper {
      height: increaseSize($x6, 1.08);
    }
  }
}

.info-card-disactive {
  background-color: $color-disactive;
  > * {
    opacity: 0.5;
  }
  &:hover {
    > * {
      opacity: 1;
    }
  }
}
/**.info-card:hover {
  .info-card-logo,
  .info-card-icon-wrapper {
    transform: translate(-2px, 0.5px);
  }
  .info-card-logo {
    height: 20.5px;
  }
  .info-card-icon-wrapper {
    width: 41px;
    height: 32.75px;
  }
}**/

.info-card-icon-wrapper {
  display: none;
  width: 40px;
  height: 32px;
}

.info-card-icon {
  max-width: 100%;
  max-height: 100%;
}

.info-card-logo {
  height: 20px;
}

@media only screen and (min-width: $width-xs) {
  .info-card {
    height: 96px;
  }
  .info-card-icon-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

@media only screen and (min-width: $width-m) {
  .info-card {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .info-card-logo {
    height: 15.5px;
  }
  .info-card-icon-wrapper {
    width: 64px;
    height: 50px;
  }

  /**.info-card:hover {
    margin-top: 0px;
    .info-card-icon-wrapper {
      width: 65.6px;
      height: 51.25px;
    }
    .info-card-logo,
    .info-card-icon-wrapper {
      transform: none;
    }
    .info-card-logo {
      height: 16px;
    }
  }**/
}

@media only screen and (min-width: $width-l) {
  .info-card-logo {
    height: 20px;
  }
  /**.info-card:hover {
    .info-card-logo {
      height: 20.5px;
    }
  }**/
}
