@import "../variables";

@mixin setInfoCardServiceWidth() {
  min-width: calc(
    (100vw - 116px) / 3
  ); //margins: 96px, gaps: 8px, paddings: 12px

  @media only screen and (min-width: 455px) {
    min-width: calc(
      (100vw - 124px) / 4
    ); //margins: 96px, gaps: 12px, paddings: 16px
  }

  @media only screen and (min-width: $width-m) {
    min-width: 0px;
  }
}

.info-card-service {
  height: 110px;
  @include setInfoCardServiceWidth();
  @include setGap("medium");

  .info-card-icon-wrapper {
    display: none;
  }

  .info-card-text {
    height: 100%;
    display: flex;
    align-items: center;
    p {
      white-space: pre-wrap;
      line-height: 1.25em;
    }
  }

  &.info-card-disactive {
    background-color: $color-lightgray-light;
    > * {
      opacity: 0.5;
    }
    &:hover {
      background-color: $color-lightgray-light-hover;
      > * {
        opacity: 1;
      }
    }
  }
  @media only screen and (min-width: $width-xs) {
    height: 120px;

    .info-card-text p {
      font-size: $text-small-s;
    }
  }

  @media only screen and (min-width: $width-m) {
    padding-left: 12px;
    padding-right: 12px;
    height: 140px;
    justify-content: flex-start;
    .info-card-icon-wrapper {
      display: flex;
    }
    .info-card-text {
      align-items: flex-start;
      p {
        font-size: $text-small-m;
      }
    }
  }

  @media only screen and (min-width: $width-l) {
    height: 150px;
    .info-card-text p {
      font-size: $text-small-l;
    }
  }
}
