@import "../variables";

.service-content-block {
  @media only screen and (min-width: $width-m) {
    .content-block-image-wrapper {
      position: absolute;
      height: 100%;
      @include setInnerPaddings(false, false, "m");
    }
    .content-block-image {
      position: static;
    }

    .content-block-information {
      width: 100%;
      padding: 0px;
      @include setGap();
    }

    .content-block-information-header {
      @include setInnerPaddings("m", false);
    }

    .content-block-information-content {
      @include setInnerPaddings(false, "m");
      padding-top: 16px !important;
    }

    &.content-block-direction-default {
      .content-block-image-wrapper {
        right: unset;
        left: (-$padding-outer-horizontal-m);
      }
      .content-block-information {
        > * {
          padding-left: 50% !important;
        }
      }
    }
    &.content-block-direction-reverse {
      .content-block-image-wrapper {
        left: unset;
        right: (-$padding-outer-horizontal-m);
      }
      .content-block-information > * {
        padding-right: 50% !important;
      }
    }
  }

  @media only screen and (min-width: $width-l) {
  }
  @media only screen and (min-width: $width-xl) {
  }
}
