@import "../variables";

.service-header-block-content-wrapper {
  display: flex;
  align-items: flex-end;
  color: $color-darkblue;
  @include setContentMaxWidth();
  @include setGap("large");
}

.service-header-block-logo {
  max-height: 80px;
  height: 12.5vw;
  padding: 0px 0px 2px 4px;
  object-fit: contain;
}

.service-header-block-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: calc(min(4vw, 25.6px)) !important;
  gap: 0.5em;
  line-height: 1em;
}
p.service-header-block-title {
  font-size: inherit;
  line-height: inherit;
}

.service-header-block-title-image {
  max-height: 32px;
  height: 5vw;
  object-fit: contain;
  object-position: 0 0;
}

@media only screen and (min-width: $width-xs) {
  .service-header-block-logo {
    padding-left: 8px;
  }
}

@media only screen and (min-width: $width-m) {
  .service-header-block-logo {
    padding-left: 16px;
  }
}

@media only screen and (min-width: $width-l) {
  .service-header-block-logo {
    padding-left: 24px;
  }
}
