@import "../variables";

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $extra-padding-content-block-s;
  gap: $x4;
}

.slogan-image {
  box-sizing: border-box;
  width: 80%;
}

.slogan-tagline {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $x2;
}
