@import "../variables";

.action-button {
  height: 50px;
  padding: 0px 32px;
  font-weight: 400;
  color: $color-darkblue;
  background-color: $color-white;
  border: 1px solid $color-darkblue;
  border-radius: $border-radius;
  box-shadow: $box-shadow-below;
}

.action-button:hover {
  transform: translateY(-1px);
  font-weight: 600;
}

.action-button-with-image {
  align-self: flex-start;
  border: none;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.action-button-with-content {
  border: none;
}
