@import "../variables";

.expander {
  display: flex;
  flex-direction: column;
  @include setInnerPaddings("sm", "sm", false, "sm", "sm", false, false);
}

.expander-information {
  display: flex;
  flex-direction: column;
  @include setGap();
}

.expander-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  @include setGap();
}
.expander-list-title-icon {
  position: absolute;
}

.expander-service-more-information {
  box-shadow: inset $box-shadow-around, inset $box-shadow-around-opposite;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  @include setExpanderPaddings();
  transform: translateY(-104px);
}

.expander-service-info-card-more-information {
  @include setExpanderPaddings(true);
  @include setGap("large");

  .expander-list {
    padding: 0px 12px;
  }

  .expander-list-title {
    color: $color-darkblue;
    padding-left: 26px;
  }

  .expander-list-title-icon {
    color: $color-darkblue;
    position: absolute;
    top: 0px;
    left: 3px;
  }
}

@media only screen and (min-width: $width-m) {
  .expander-service-more-information {
    transform: translateY(-140px);
  }
}

@media only screen and (min-width: $width-l) {
  .expander-service-more-information {
    flex-direction: row;
    transform: translateY(-168px);
    .expander-list-item-wrapper {
      column-count: 2;
      column-gap: 100px;
      column-width: 50%;
    }
    .expander-list-title {
      padding-top: 3px;
    }
    .expander-list-title-icon {
      top: 3px;
    }
  }

  .expander-service-info-card-more-information {
    > * {
      width: 50%;
    }
    .expander-list-item-wrapper {
      column-count: 1;
    }
  }
}
