@import "../variables";

.snap-scroll-area {
  height: $content-height;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (max-width: $width-max-s) {
  .snap-scroll-area-not-mobile {
    scroll-snap-type: none !important;
    .scroll-area {
      overflow: unset !important;
    }
  }
}
.freeze-child-scroll {
  .scroll-area {
    overflow-y: hidden;
  }
}
.unfreeze-child-scroll {
  .scroll-area {
    overflow-y: scroll;
  }
}
